using Microsoft.AspNetCore.Mvc.RazorPages;

namespace ${namespace}
{
    public class ${classname} : PageModel
    {
        ${cursor}
        public void OnGet()
        {
            
        }
    }
}